<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/todo-head') %>
  </head>
  <body>
    <%- include('partials/todo-header') %>
    <main>
      <div class="box" id="heading">
        <h1><%= listTitle %></h1>
      </div>
    
      <div class="box">
        <% newListItems.forEach(function (item) { %>
          <form action="/todo/<%= listValue %>/deleteItem" method="post">
          <div class="item">
            <input
              type="checkbox"
              name="checkbox"
              value="<%= item._id%>"
              onChange="this.form.submit()"
            />
            <p><%=item.name%></p>
          </div>
          <input type ="hidden" name="listCheckedOff" value="<%=listValue%>"> </input>
        </form>
        <%})%>
    
        <form class="item" action="/todo/<%= listValue %>/addItem" method="post">
          <input
            type="text"
            name="newItem"
            placeholder="anything else?"
            required
            autofocus
          />
          <button class="" type="submit" name="list" value="<%=listValue%>">
            +
          </button>
        </form>
      </div>  
    </main>
    <%- include('partials/todo-footer') %>
  </body>
</html>
